// colors

$color-1: #34495e; // blue dark
$color-2: #e74c3c; // salmon
$color-3: #ffffff; // white

// fonts 

$primary-font: 'Open Sans', sans-serif;

// bounce-in duration

$bounce-in-duration: .7s;